doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        title 原料首页
        link(rel='stylesheet', type='text/css', href='css/index.css')
        script(type='text/javascript', src='js/jquery-1.7.1.min.js')
        script.
            var page = 1;
            var CargoPageCount = 0;
            var CargoLikepageCount = 0;
            var pageNow = 0;
            var j=0;
            function dell(id, liang) {
                var liang = parseFloat(liang);
                if (liang != 0.0 && liang != 0) {
                    alert("请不要浪费食材！！!!!！")
                    return;
                } else {
                    $.ajax({
                        "url": "dell/" + id,
                        "dataType": "JSON",
                        "type": "post",
                        "success": function (result) {
                            if (result > 0) {
                                alert("删除成功");
                                //getInfo()
                                window.location.reload();
                            } else {
                                alert("删除失败");
                            }
                        }
                    })
                }

            }



            function first() {
                $("a[title='最前']").click(function () {
                    $("#pageInfo tr:gt(0)").remove();
                    page = 1;
                    pageNow = page;
                    fy(page);
                })
            }
            function last() {
                $("a[title='最后']").click(function () {
                    $("#pageInfo tr:gt(0)").remove();
                    page = CargoPageCount;
                    pageNow = page;
                    fy(page);
                })
            }
            


            function fy(pagethis) {
                var data = $("#stockName").val().trim();
                    $.ajax({
                        "url": "getPageCount",
                        "data": "stockName="+data,
                        "dataType": "json",
                        "type": "post",
                        "success": function (result) {
                            CargoPageCount = parseInt(result);
                            pageNow = page;
                            page = pagethis;
                            if (j >= 3) {
                                j = 0;
                            }
                            if (pagethis >= 2) {
                                if (pagethis < CargoPageCount) {
                                    $(".mian_b1_list").empty();
                                    for (var i = pagethis - 1; i <= CargoPageCount; i++) {
                                        if (j < 3) {
                                            $(".mian_b1_list").append("<a href='javascript:void(0)' onclick='fy(" + (i) + ")'><div style='float: left;width: 20px;padding-left:14px;margin-left:1px ;margin-right:4px;margin-top:11px;height: 25px;line-height: 26px;border: 1px solid gray;border-radius:19px;'>" + (i) + "</div></a>");
                                            j++;
                                        }
                                    }
                                    $(".mian_b1_list a:eq(1) div").css("background-color", "gray").parent().siblings().find(" div").css("background-color", "#D3D3D3");
                                }
                            } else {
                                $(".mian_b1_list a:eq(" + (pagethis - 1) + ") div").css("background-color", "gray").parent().siblings().find(" div").css("background-color", "#D3D3D3");
                            }
                            if (CargoPageCount == pagethis) {
                                if (CargoPageCount >= 3) {
                                    $(".mian_b1_list").empty();
                                    for (var i = pagethis - 2; i <= CargoPageCount; i++) {
                                        if (j < 3) {
                                            $(".mian_b1_list").append("<a href='javascript:void(0)' onclick='fy(" + (i) + ")'><div style='float: left;width: 20px;padding-left:14px;margin-left:1px ;margin-right:4px;margin-top:11px;height: 25px;line-height: 26px;border: 1px solid gray;border-radius:19px;'>" + (i) + "</div></a>");
                                            j++;
                                        }
                                    }
                                    $(".mian_b1_list a:eq(2) div").css("background-color", "gray").parent().siblings().find(" div").css("background-color", "#D3D3D3");
                                }
                                if (CargoPageCount < 3) {
                                    $(".mian_b1_list").empty();
                                    for (var i = 1; i <= CargoPageCount; i++) {
                                        $(".mian_b1_list").append("<a href='javascript:void(0);' onclick='fy(" + (i) + ")'><div style='float: left;width: 20px;padding-left:14px;margin-left:1px ;margin-right:4px;margin-top:11px;height: 25px;line-height: 26px;border: 1px solid gray;border-radius:19px;'>" + (i) + "</div></a>");
                                    }
                                    $(".mian_b1_list a:eq(1) div").css("background-color", "gray").parent().siblings().find(" div").css("background-color", "#D3D3D3");
                                }
                            }
                            if (pagethis == 1) {
                                if (CargoPageCount >= 3) {
                                    $(".mian_b1_list").empty();
                                    for (var i = 1; i <= 3; i++) {
                                        $(".mian_b1_list").append("<a href='javascript:void(0);' onclick='fy(" + (i) + ")'><div style='float: left;width: 20px;padding-left:14px;margin-left:1px ;margin-right:4px;margin-top:11px;height: 25px;line-height: 26px;border: 1px solid gray;border-radius:19px;'>" + (i) + "</div></a>");
                                    }
                                    $(".mian_b1_list a:eq(0) div").css("background-color", "gray").parent().siblings().find(" div").css("background-color", "#D3D3D3");
                                } else {
                                    $(".mian_b1_list").empty();
                                    for (var i = 1; i <= CargoPageCount; i++) {
                                        $(".mian_b1_list").append("<a href='javascript:void(0);' onclick='fy(" + (i) + ")'><div style='float: left;width: 20px;padding-left:14px;margin-left:1px ;margin-right:4px;margin-top:11px;height: 25px;line-height: 26px;border: 1px solid gray;border-radius:19px;'>" + (i) + "</div></a>");
                                    }
                                    $(".mian_b1_list a:eq(0) div").css("background-color", "gray").parent().siblings().find(" div").css("background-color", "#D3D3D3");
                                }
                            }
                            $.ajax({
                                "url": "StockInfo/" + pagethis,
                                "dataType": "json",
                                "data": "stockName="+data,
                                "type": "post",
                                "success": function (result) {
                                    $("#tb tr:gt(0)").remove();
                                    $(result).each(function () {
                                        $(".mian_b_bg").append("<tr style='border-top:1px #DFE2E6 solid'><td><input type='checkbox' class='ladl'  name='indent' value='" + this.stockid + "'></td><td id='" + this.stockid + "'>" + this.stockid + "</td><td><input class='stockName' value='" + this.stockname + "' style='border:white'></td><td>" + this.stockweight + "</td><td>" + this.stockunit + "</td><td width='10%'><a href='javascript:void(0)' class='stockName3' onclick='bianji(" + this.stockid + ")'>编辑</a> &nbsp;| &nbsp;<a href='javascript:void(0)' onclick='delll(" + this.stockid + "," + this.stockweight + ")'>删除</a></td></tr>")
                                    });
                                    aa();
                                    $(".stockName").attr("disabled", "disabled");
                                    $(".stockName5").click(function () {
                                        $(this).parent().prev().prev().prev().find("input").removeAttr("disabled").css({background: "#eeeeee"});
                                    });

                                    $(".stockName3").click(function () {
                                        $(this).parent().prev().prev().prev().find("input").removeAttr("disabled").css({background: "#eeeeee"});
                                    });
                                    $(".dl").click(function () {
                                        var a = $(this).parent().next().next().next().text();
                                        if (a != 0.0 && a != 0) {
                                            var flag = alert("食材还有剩余，不能删除555")
                                            $(this).removeAttr("checked");
                                            //window.location.href = 'stocklogin';
                                        }
                                    });
                                    $(".ladl").click(function () {
                                        var a = $(this).parent().next().next().next().text();
                                        if (a != 0.0 && a != 0) {
                                            var flag = alert("食材还有剩余，不能删除444")
                                            $(this).removeAttr("checked");
                                        }
                                    });
                                }
                                    });
                                }
                            });
                            }









            function delll(id, liang) {
                var liang = parseFloat(liang);
                if (liang != 0.0 && liang != 0) {
                    alert("请不要浪费食材！！！")
                    return;
                } else {
                    $.ajax({
                        "url": "dell/" + id,
                        "dataType": "JSON",
                        "type": "post",
                        "success": function (result) {
                            if (result > 0) {
                                alert("删除成功");
                                fy(page);
                            } else {
                                alert("删除失败");
                            }
                        }
                    })
                }
            }


            function getdel() {
                var checkbox_value = [];
                var obj = document.getElementsByName("indent")
                for (var k in obj) {
                    if (obj[k].checked)
                        checkbox_value.push(obj[k].value)
                }
                $.ajax({
                    "url": "getdel",
                    "dataType": "json",
                    "type": "post",
                    "data": {
                        'arrays[]': checkbox_value
                    },
                    "success": function (result) {
                        if (result > 0) {
                            alert("删除成功")
                            fy(page);
                        } else {
                            alert("删除失败");
                        }
                    },

                });
            }

            function del() {
                $("input[name=all]").click(function () {
                    if (this.checked) {
                        $("#tb :checkbox").prop("checked", true);
                    } else {
                        $("#tb :checkbox").prop("checked", false);
                    }
                });
            }




            function bianji(id) {
                $("#" + id + "").next().find("input").removeAttr("disabled").css({background: "#eeeeee"});
            }


            function task() {
                window.location.href = 'task'
            }

            function selectAll(checkbox) {
                $('input[type=checkbox]').prop('checked', $(checkbox).prop('checked'));
            }

            function upd(id) {
                window.location.href = 'upd?id=' + id;
                $(this).parent();
            }


            $(function () {
                aa();
               next();
               previous();
               fy(page);
               first();
               last();
            });



            function aa() {
                $(".stockName").parent().dblclick(function () {
                    $(this).find(" .stockName").css({background: "#eeeeee"}).removeAttr("disabled");
                });
                $(".stockName").attr("disabled", "disabled");
                $(".stockName").css({background: "transparent"}).blur(function () {
                    $(this).attr("disabled", "disabled").css({background: "transparent"});
                    var id = $(this).parent().prev().html();
                    var name = $(this).val();
                    UpdateStock(id, name);
                });
            }



            function UpdateStock(id, name) {
                $.ajax({
                    "url": "UpdateStock",
                    "data": {
                        stockid: id,
                        stockname: name
                    },
                    "dataType": "json",
                    "type": "post",
                    "success": function (result) {
                        if (result > 0) {
                            alert("修改成功");
                        } else {
                            alert("修改失败");
                        }
                    }
                })
            }







            function next() {
                $("a[title='下一页']").click(function () {
                    $(".tb tr:gt(0)").remove();
                    page += 1;
                    if (page >= CargoPageCount) page = CargoPageCount
                    fy(page);
                })
            }


            function previous() {
                $("a[title='上一页']").click(function () {
                    $(".tb tr:gt(0)").remove();
                    page -= 1;
                    if (page <= 0) page = 1;
                    if (page >= CargoPageCount) page = CargoPageCount
                    fy(page);
                })
            }

















        body.mian_bj
        .mian_top_01
            .mian_top_r
            .mian_top_l
            .mian_top_c
                ul
                    li
                        a(href='')
                            p 原料管理
            .mian_b
                .mian_b1
                    p.mian_b1_a1
                        button(onclick='task()' style='width:80px;height:30px' ) 添加
                    p.mian_b1_sousuo(style='height:25px')
                        input(id='stockName', type='text' style='width:137px')
                    button(value='搜索' onclick='fy(1)' style='width:80px;padding-left:20px;margin:11px;height:30px;text-align:center') 查询
                    button(onclick='getdel()' style='width:80px;height:30px') 批量删除

                    a(href='#', title='最后')
                        p.mian_b1_a4
                    a(href='#', title='下一页')
                        p.mian_b1_a5
                    p.mian_b1_list
                    a(href='#', title='上一页')
                        p.mian_b1_a6
                    a(href='#', title='最前')
                        p.mian_b1_a7

                table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0')
                    tbody#tb
                        tr
                            td.mian_b_bg_lm(width='5%')
                                span
                                // input(type='checkbox' name='all' id="allcheck"  onclick="selectAll(this);" )
                                //| 全选
                            td.mian_b_bg_lm(width='10%')
                                span
                                | 原料ID
                            // input(name='', type='checkbox', value='')
                            td.mian_b_bg_lm(width='10%')
                                span
                                | 原料名称
                            td.mian_b_bg_lm(width='10%')
                                span
                                | 原料总量
                            td.mian_b_bg_lm(width='10%')
                                span
                                | 原料单位
                            td.mian_b_bg_lm(colspan='4' width='10%')
                                span
                                | 操作



