doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a
              p 未完成的任务
      .mian_b
        .mian_b1
          p.mian_b1_sousuo
            input(name='', type='text')
          a(href='#', title='搜索')
          p.mian_b1_a3
            a(href='#', title='搜索')
            a(href='#', title='最后')
          p.mian_b1_a4
            a(href='#', title='下一页')
          p.mian_b1_a5
          p.mian_b1_list 1 2 3 4……
          a(href='#', title='上一页')
          p.mian_b1_a6
            a(href='#', title='上一页')
            a(href='#', title='最前')
          p.mian_b1_a7
        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='20%')
                span
                | 标题
              td.mian_b_bg_lm(width='12%')
                span
                | 截至时间
              td.mian_b_bg_lm(width='12%')
                span
                | 执行人员
              td.mian_b_bg_lm(width='8%')
                span
                | 状态
              td.mian_b_bg_lm(width='8%')
                span
                | 紧急程度
              td.mian_b_bg_lm
                span
                | 操作
            tr
              td 任务的分配 
              td 2012-3-20
              td 吴菲菲
              td
                | 未完成
              td 一般
              td.mian_b_icon_02(width='5%')
                a(href='TaskDetail.html') 查看
            tr
              td 审核任务的分配 
              td 2012-3-20
              td 吴菲菲
              td
                | 未完成
              td 一般
              td.mian_b_icon_02(width='5%')
                a(href='TaskExAppDoc.html') 查看
            tr
              td 项目任务的分配 
              td 2012-3-20
              td 吴菲菲
              td
                | 未完成
              td 一般
              td.mian_b_icon_02(width='5%')
                a(href='TaskItemDet.html') 查看
            tr
              td.mian_b_bg_lm(width='20%')
                span
                | 标题
              td.mian_b_bg_lm(width='12%')
                span
                | 截至时间
              td.mian_b_bg_lm(width='12%')
                span
                | 执行人员
              td.mian_b_bg_lm(width='8%')
                span
                | 状态
              td.mian_b_bg_lm(width='8%')
                span
                | 紧急程度
              td.mian_b_bg_lm
                span
                | 操作
    script(src='/common.js')
