doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        title 世尊家具综合管理系统
        meta(http-equiv='Content-Type', content='text/html; charset=gb2312')
        link(rel='stylesheet', type='text/css', href='css/index.css')
        script(src='js/jquery-3.3.1.min.js')
        script(type='text/javascript').
            function pr(_id)
            {
                var select_id = parseInt(_id.replace("xx",""));
                for (i=1;i<=8;i++)
                {
                    if (i==select_id)
                    {
                        document.getElementById("xx"+i).className = "x_css";
                    }
                    else
                    {
                        document.getElementById("xx"+i).className = "y_css";
                    }
                }
            }
            function show(num){
                document.getElementById(num).style.display="block";
            }
            function hidden1(num){
                document.getElementById(num).style.display="none";
            }
            function r(num){
                document.getElementById(num).style.display="block";
            }
            function r_1(num){
                document.getElementById(num).style.display="none";
            }
            function srcchange(id)
            {
                if(id=="hr1")
                {
                    document.getElementById("mainFrame").src="rsxz/Employlee.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/rensiManage.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr2")
                {
                    document.getElementById("mainFrame").src="rsxz/RecruiterApply.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/xingzhengManage.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr3")
                {
                    document.getElementById("mainFrame").src="rsxz/ExaAppDocument.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr15")
                {
                    document.getElementById("mainFrame").src="notice/NoticeClass.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr16")
                {
                    document.getElementById("mainFrame").src="notice/NoticeShow.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr17")
                {
                    document.getElementById("mainFrame").src="notice/Notice.html";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr18")
                {
                    document.getElementById("mainFrame").src="notice/NoticeCount.html";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr19")
                {
                    document.getElementById("mainFrame").src="xtsz/XTCS.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr20")
                {
                    document.getElementById("mainFrame").src="xtsz/Branch.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr21")
                {
                    document.getElementById("mainFrame").src="xtsz/Role.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr22")
                {
                    document.getElementById("mainFrame").src="xtsz/Power.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr23")
                {
                    document.getElementById("mainFrame").src="xtsz/EaDoc.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr4")
                {
                    document.getElementById("mainFrame").src="knowledge/KnowLedgeClass.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/itemdangan' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr5")
                {
                    document.getElementById("mainFrame").src="knowledge/KnowLedge.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/itemxinde.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr6")
                {
                    document.getElementById("mainFrame").src="knowledge/openKnowLedge.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/picmanager.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr7")
                {
                    document.getElementById("mainFrame").src="knowledge/ChangjianWenti.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/question.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr8")
                {
                    document.getElementById("mainFrame").src="task/Schedule.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr9")
                {
                    document.getElementById("mainFrame").src="task/TaskAllot.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr10")
                {
                    document.getElementById("mainFrame").src="task/TaskShow.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr51")
                {
                    document.getElementById("mainFrame").src="task/IssuedTask.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr11")
                {
                    document.getElementById("mainFrame").src="task/DelayTaskApply.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr12")
                {
                    document.getElementById("mainFrame").src="task/DelayTask.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr13")
                {
                    document.getElementById("mainFrame").src="task/MoveTaskApply.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr14")
                {
                    document.getElementById("mainFrame").src="task/MoveTask.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr24")
                {
                    document.getElementById("mainFrame").src="client/OrderManager.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/orderManage.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr25")
                {
                    document.getElementById("mainFrame").src="client/ClientManager.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/clientManage.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr26")
                {
                    document.getElementById("mainFrame").src="xtsz/NormalManage.htm";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr27")
                {
                    document.getElementById("mainFrame").src="xtsz/CustomManage.htm";
                    document.getElementById("dTitle").style.display="none";
                }
                //        else if(id=="hr28")
                //    {
                //    document.getElementById("mainFrame").src="client/ClientIdea.jade";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                //        else if(id=="hr29")
                //    {
                //    document.getElementById("mainFrame").src="#";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                //        else if(id=="hr30")
                //    {
                //    document.getElementById("mainFrame").src="client/ClientReceipt.jade";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                //        else if(id=="hr31")
                //    {
                //    document.getElementById("mainFrame").src="client/ClientAudit.jade";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                //        else if(id=="hr32")
                //    {
                //    document.getElementById("mainFrame").src="client/ClientManager.jade";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                //     else if(id=="hr33")
                //    {
                //    document.getElementById("mainFrame").src="client/ClientLog.jade";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                else if(id=="hr34")
                {
                    document.getElementById("mainFrame").src="task/TaskResult.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr35")
                {
                    document.getElementById("mainFrame").src="item/ItemClass.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr36")
                {
                    document.getElementById("mainFrame").src="item/Item.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr37")
                {
                    document.getElementById("mainFrame").src="item/ItemPact.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr38")
                {
                    document.getElementById("mainFrame").src="item/TaskAllo.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr39")
                {
                    document.getElementById("mainFrame").src="item/TaskProShow.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr40")
                {
                    document.getElementById("mainFrame").src="item/TaskProRec.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr41")
                {
                    document.getElementById("mainFrame").src="item/ItemToFile.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr42")
                {
                    document.getElementById("mainFrame").src="item/ItemToFileAudit.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr43")
                {
                    document.getElementById("mainFrame").src="product/LineManage.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr44")
                {
                    document.getElementById("mainFrame").src="product/StyleView.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr45")
                {
                    document.getElementById("mainFrame").src="product/SpecificationView.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr46")
                {
                    document.getElementById("mainFrame").src="product/productManage.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr47")
                {
                    document.getElementById("mainFrame").src="product/ProductDetail.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                //     else if(id=="hr48")
                //    {
                //    document.getElementById("mainFrame").src="product/PurchaseView.htm";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                else if(id=="hr49")
                {
                    document.getElementById("mainFrame").src="product/FavoritesView.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="hr50")
                {
                    document.getElementById("mainFrame").src="product/ProductShowMange.jade";
                    document.getElementById("dTitle").style.display="none";
                }
                //    else if(id=="hr43")
                //    {
                //    document.getElementById("mainFrame").src="product/ProductLine.html";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                //        else if(id=="hr46")
                //    {
                //    document.getElementById("mainFrame").src="product/productManage.html";
                //    document.getElementById("dTitle").style.display="none";
                //    }
                else if(id=="hr497")//48
                {
                    document.getElementById("mainFrame").src="knowledge/Peixuzhiliao.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/peixunzhiliao.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr498")//49
                {
                    document.getElementById("mainFrame").src="knowledge/OtherKnowLedge.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/otherziliao.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr499")
                {
                    document.getElementById("mainFrame").src="knowledge/gerenzhiliaolist.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/gereziliao.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="hr500")
                {
                    document.getElementById("mainFrame").src="knowledge/AuditKnowLedge.jade";
                    document.getElementById("dTitle").innerHTML="<img src='images/knowledgeshenhe.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
            }
            function changeIcon(id)
            {
                if(id=="HR")
                {
                    document.getElementById("dTitle").innerHTML="<img src='images/rensiManage.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="Notice")
                {
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="KnowLedge")
                {
                    document.getElementById("dTitle").innerHTML="<img src='images/itemdangan.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="Task")
                {
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="Order")
                {
                    document.getElementById("dTitle").innerHTML="<img src='images/orderManage.jpg' alt='' style='margin-top:5px'/>";
                    document.getElementById("dTitle").style.display="block";
                }
                else if(id=="Item")
                {
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="System")
                {
                    document.getElementById("dTitle").style.display="none";
                }
                else if(id=="Product")
                {
                    document.getElementById("dTitle").style.display="none";
                }
            }
    body
        div(style='width: 1430px; height: 100%;')
            .mian_r(onmousemove='r(22)', onmouseout='r_1(22)')
                #22(style='display: none;', onmousemove='r(22)', onmouseout='r_1(22)')
                    div
                        a(href='#')
                            img(src='images\r_icon_03.png')
                        a(href='#')
                            img(src='images\r_icon_06.png')
                        a(href='#')
                            img(src='images\r_icon_08.png')
                        a(href='#')
                            img(src='images\r_icon_10.png')
            table(height='100%', width='1425', border='0', cellpadding='0', cellspacing='0', style='overflow: hidden;')
                tbody
                    tr
                        td(colspan='2', height='52')
                            div
                                #header
                                    .header01
                                        p.logo
                                            a(href='index-x.jade')
                                                img(src='images/logo_03.gif', alt='')
                                        p.right_01
                                            img(src='images/pic_06.gif', alt='')
                                        p.right_02
                                            | 您好，
                                            span=user.employeename
                                            | ，欢迎登录！
                                            a(href='die')
                                                | [注销]
                    tr
                        td(width='190', valign='top', style='background: url(images/lift_bj_02.gif) repeat-y;', background='images/lift_bj_02.gif ')
                            .side(style='position: absolute;')
                                ul#nav
                        td(width='1215', valign='top')
                            #dTitle(style='float:left; margin-left:30px;')
                                img(src='images/shouye.jpg', alt='', style='margin-top:5px')
                            div(style='text-align: right; margin-right: 15px; float: right')
                                img(src='images/middil_05.gif', alt='')
                                a(href='login.jade')
                                    img(alt='', src='images/middil_06.gif')
                            iframe#mainFrame(frameborder='0', style='margin-top: 15px; height: 631px;', width='1215', name='mainFrame', src='selectrunningDatapage')
                        td(width='5', valign='top', style='position: relative;', height='93%')
        div(style='text-align:center;')
    script(type = 'text/javascript').
                    $(function () {
                        jurisdiction();
                     });
                    function jurisdiction() {
                      var str = "";
                      var count = 1;
                      var roleId = '#{user.eRoleid}';
                      $.ajax({
                        "url": "indexMenu",
                         'data': 'roleId=' + roleId,
                        "dataType": "json",
                        "type": "post",
                        "success": function (result) {
                            if (result != null) {
                                for (var i = 0; i < result.length - 1; i++) {

                                    for (var j = i + 1; j < result.length;) {
                                        if (result[i].classify.parentid == result[j].classify.parentid) {
                                            result.splice(j, 1);
                                            continue;
                                        }
                                        j++;
                                    }
                                    str += "<li class=\"y_css\" id=\"xx" + count + "\" onmouseover=\"show("+count+")\" onmouseout=\"hidden1("+count+")\">";
                                    if (result[i].classify.menuurl=="") {
                                        str += "<a href='index1' class='chang' onclick=\"changeIcon('" + result[i].classify.parentid + "','" + count + "')\" target=\"mainFrame\" onmousedown=\"javascript:pr('xx" + count + "')\">";
                                    } else {
                                        str += "<a href='" + result[i].classify.menuurl + "' onclick=\"changeIcon('" + result[i].classify.parentid + "','" + count + "')\" target=\"mainFrame\" onmousedown=\"javascript:pr('xx" + count + "')\">";
                                    }
                                        str+="<span></span>\n" +
                                        "<p class=\"icon_0" + count + "\">" + result[i].classify.parentname + "</p>" +
                                        "</a>" +
                                        "</li>";
                                    count++;
                                }
                                $("#nav").append(str);
                            }
                        },
                        "error": function () {
                            alert("服务器异常！");
                        }
                    });
                    }
                    function changeIcon(parentid,count) {
                        var str="<ul>";
                        $("#xx" + count + "~ul").remove();
                        $.ajax({
                            "url": "jump",
                            'data': {
                                "parentid":parentid
                            },
                            "dataType": "json",
                            "type": "post",
                            "success": function (result) {
                                            if(null!=result){
                                                for(var i=0;i<result.length;i++){
                                                    str+="<li class='xiala'>";
                                                    if(result[i].menuurl==null ||result[i].menuurl=='') {
                                                        str += "<a href='index1' target=\"mainFrame\" onmousedown=\"javascript:pr('xx" + count + "')\">";
                                                    }else{
                                                        str += "<a href='"+result[i].menuurl+"' target=\"mainFrame\" onmousedown=\"javascript:pr('xx" + count + "')\">";
                                                    }
                                                    str+="<span></span>\n" +
                                                    "<p class='gongneng'>" + result[i].menuname + "</p>"+
                                                    "</a>" +
                                                    "</li>";
                                                    // $("#mainFrame").attr("src",result[i].menuurl);
                                                    // return;
                                                }
                                                str+="</ul>";
                                                $("#xx" + count + "").after(str);
                                            }
                                $(".gongneng:not(:last)").css({borderBottom: "1px #eeeeee solid"});
                                $("#xx" + count + "~ul").slideDown("slow").siblings("ul").slideUp("slow");
                            },
                            "error": function () {
                                alert("服务器异常！");
                            }
                        });
                    }
