doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='generator', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    link(href='css/haiersoft.css', rel='stylesheet', type='text/css', media='screen,print')
    link(href='css/print.css', rel='stylesheet', type='text/css', media='print')
    script(src='js/jquery-1.10.1.min.js')
    script(src='js/side.js', type='text/javascript')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
  body
    // wrap_left
    #frmTitle.wrap_left(name='fmTitle')
      // Logo
      #Logo
        span 人单合一
      // /Logo
      // menu_list
      script.
        $(function() {
        $(".menu_list dd");
        $(".menu_list dt").click(function(){
        $(this).toggleClass("open").next().slideToggle("fast");
        });
        });
      .menu_list
        dl
          dt
            span 收银
          dd
            a(href='', title='选桌') 选桌
            a(href='', title='点菜') 点菜
            a.active(href='', title='下单') 下单
            a(href='', title='修改订单') 修改订单
            a(href='', title='结账') 结账
          dt
            span 员工管理
          dd
            a(href='', title='员工管理') 员工管理
            a(href='', title='角色管理') 角色管理
            a(href='', title='权限管理') 权限管理
          dt
            span 菜品管理
          dd
            a(href='', title='菜品管理') 菜品管理
            a(href='', title='菜品分类') 菜品分类
          dt
            span 用料管理
          dd
            a(href='', title='原料管理') 原料管理
          dt
            span 库存管理
          dd
            a(href='', title='出库管理') 出库管理
            a(href='', title='入库管理') 入库管理
            a(href='', title='库存管理') 库存管理
          dt
            span 数据管理
          dd
            a(href='', title='收支流水') 收支流水
            a(href='', title='收支统计') 收支统计
            a(href='', title='订单记录') 订单记录
      // /menu_list
    // /wrap_left
    // picBox
    #switchPoint.picBox(onclick='switchSysBar()')
    // /picBox
    // wrap_right
    .wrap_right
      header
        // Header
        #Header
          // Head
          #Head
            script(language='javascript').
              function showmenu(id){id.style.visibility = "visible";}
              function hidmenu(){UserList.style.visibility = "hidden";}
              document.onclick = hidmenu;
            .user
              a(href='javascript:showmenu(UserList)') admin
              #UserList
                a(href='') 修改
                a(href='') 注销
                a(href='') 退出
          // /Head
        // /Header
      // Contents
      #Contents
        script(type='text/javascript').
          $(function(){
          $(".select").each(function(){
          var s=$(this);
          var z=parseInt(s.css("z-index"));
          var dt=$(this).children("dt");
          var dd=$(this).children("dd");
          var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};
          var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};
          dt.click(function(){dd.is(":hidden")?_show():_hide();});
          dd.find("a").click(function(){dt.html($(this).html());_hide();});
          $("body").click(function(i){ !$(i.target).parents(".select").first().is(s) ? _hide():"";});})})
        // TopMain
        #TopMain
          // selectbox
          .selectbox.floatL.mag_r20
            span.sttl 年度：
            dl.select(style='width:200px;')
              dt 全部
              dd
                ul
                  li
                    a(href='#') 选项选项A
                  li
                    a(href='#') 选项选项B
                  li
                    a(href='#') 选项选项C
                  li
                    a(href='#') 选项选项D
                  li
                    a(href='#') 选项选项E
          // /selectbox
          // selectbox
          .selectbox.floatL.mag_r20
            span.sttl 部门：
            dl.select(style='width:200px;')
              dt 全部
              dd
                ul
                  li
                    a(href='#') 选项选项A
                  li
                    a(href='#') 选项选项B
                  li
                    a(href='#') 选项选项C
                  li
                    a(href='#') 选项选项D
                  li
                    a(href='#') 选项选项E
          // /selectbox
          // btn_box
          .btn_box.floatL
            input(name='', type='button', value='查询', onmousemove="this.className='input_move'", onmouseout="this.className='input_out'")
          // /btn_box
        // /TopMain
        // MainForm
        #MainForm
          .form_boxA
            h2 年度预算列表
            table(cellpadding='0', cellspacing='0')
              tbody
                tr
                  th 序号
                  th 部门
                  th 年度
                  th 提交人
                  th 预算收入（元）
                  th 预算成本（元）
                  th 预算费用（元）
                  th 状态
                  th 操作
                tr
                  td 1
                  td 财务部
                  td 2015
                  td 王友强
                  td 120890000.00
                  td 120890000.00
                  td 120890000.00
                  td.f_cA 审核通过
                  td
                    a(href='#') 查看
                    |  
                    a(href='#') 操作
            p.msg 共找到47条年度预算记录，当前显示从第1条至第10条
        // /MainForm
        // PageNum
        ul#PageNum
          li
            a(href='') 首页
          li
            a(href='') 上一页
          li
            a(href='') 1
          li
            a(href='') 2
          li
            a(href='') 3
          li
            a(href='') 4
          li
            a(href='') 5
          li
            a(href='') 6
          li
            a(href='') 下一页
          li
            a(href='') 尾页
        // /PageNum
      // /Contents
      // /footer
      footer
        address
          | 电子邮箱：sales@haiersoft.com  技术支持：人单合一平台项目组
          br
          | 青岛海尔软件有限公司版权所有  Copyright © 2015 Haiersoft Corporation, All Rights.
      // /footer
    // /wrap_right
