doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title 世尊家具综合管理系统
    link(rel='stylesheet', type='text/css', href='css/index.css')
    script(src='js/jquery-3.3.1.min.js')

  body(style='background:#000;')
    .png.login_logo
      img(src='images/logo_03.png', alt='')

    .login
     form(id='data'  method='post')
       .login_1
          input(name='username', type='text')
       .login_2
          input(name='password', type='password')
       .login_3
          input(name='cc', type='checkbox', value='')
       .login_4.png
           //input(src='images/login_08.jpg',type='image',onclick='login()')
           a(href='javascript:void(0)' onclick='login()')
                   img(src='images/login_08.jpg')


script(type='text/javascript').
    $(function () {
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                login();
            }
        });
    });
    function login() {
        if ($('[name=username]').val().trim() == '') {
            alert('用户名不能为空哦~');
        } else if ($('[name=password]').val().trim() == '') {
            alert('密码不能为空哦~');
        } else if ($('[name=password]').val().trim().length < 6) {
            alert('密码长度不能低于6位哦~');
        } else {
            var data = $('#data').serialize();
            $.ajax({
                'url':'/loginorder',
                'data':data,
                'type':'post',
                'dataType':'JSON',
                'success':function (result) {
                    if (null!=result) {
                        alert('登录成功！');
                        if(result.eRoleid==4) {
                            location.href = '/OrdrTableShow';
                        }else{
                            location.href = '/shouye';
                        }
                    } else {
                        alert('登录失败！');
                    }
                },
                'error':function () {
                    alert('服务器异常');
                }
            });
        }
    }