doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=gb2312')
    title 世尊家具综合管理系统
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body(style='background:#000;')
    .png.login_logo
      img(src='images/logo_03.png', alt='')
    .login
      .login_1
        input(name='', type='text')
      .login_2
        input(name='', type='password')
      .login_3
        input(name='', type='checkbox', value='')
      .login_4.png
        a(href='index-x.html')
          img(src='images/login_08.jpg')
    script(src='/common.js')
