doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='css/reset1.css', type='text/css', rel='stylesheet')
    link(href='css/style.css', type='text/css', rel='stylesheet')
    title 台况-首页
  body
    header
      h1 台 况
    .nav
      ul
        li
          a.active(href='#') 大 厅
        li
          a(href='#') 茶 秀
        li
          a(href='#') 二楼VIP
    .content
      ul.desk
        each item in ordertable
          if item.tablestatus==0
            li
              a.unused(href="OrdermealShow/"+item.tablenumber+"")
                p.use_txt
                  | 无人
              p.d_num=item.tablenumber
          else
            li
              a.service(href="ZaiyongZhuo")
                p.use_txt
                  | 在用
              p.d_num=item.tablenumber
    .footer-space
    footer
      ul
        li
          a(href='OrdrTableShow')
            img(src='img/footer_1.png')
            p.cur 台 况
        li
          a(href='call out.html')
            p
        li
          a(href='bill.html')
            img(src='img/footer_02.png')
            p 账 单
