html(xmlns='http://www.w3.org/1999/xhtml')
  head
  body
    h1
    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='css/reset1.css', type='text/css', rel='stylesheet')
    link(href='css/style.css', type='text/css', rel='stylesheet')
    title 结算详情
    header
      a.return(href='#')
        img(src='img/return.png')
      h1 结算详情
      p
    p.state 正在结账
    .content
    .footer-space
    .bottom
      .bottom_1
        p.total
          | 合计：
          span.price ￥536.0
          |  共
          span.sum 8
          | 菜
      .bottom_2
        .sub_but
        ul#hid_ul.action_btn
          li
            input.orange_btn(type='button', value='支付宝' onclick='zhifubao()')
          li
            input.orange_btn(type='button', value='微信')
          li
            input.orange_btn(type='button', value='现金')


      script(src='/js/jquery-1.7.1.min.js')
      script(src='/js/orderdetails.js')
      script(type='text/javaScript').
        init(#{tableId});


