doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 角色信息
    link(rel='stylesheet', type='text/css', href='css/index.css')
    script(src='js/jquery-1.7.1.min.js')
    script(language='javascript', type='text/javascript').
        var obj = document.getElementsByName("test");
        var check_val = [];
        function show() {
            for (k in obj) {
                if (obj[k].checked)
                    check_val.push(obj[k].value);
            }
            alert(check_val);
        }
        function todel() {
            del(check_val);
        }
        function del(check_val) {
            show();
            $.ajax({
                "url": "employeeRoDel/" + check_val,
                "dataType": "json",
                "type": "post",
                "success": function (result) {
                    if (result == 1) {
                        alert("删除成功");
                        location.href = "employeeRodeAll";
                    } else {
                        alert("删除失败");
                    }
                }
            })
        }
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='employeeRodeAll')
              p
                | 角色管理
      .mian_b
        .mian_b1
          a(href='employeeRoAddpage', title='添加')
            p.mian_b1_a1
          a(href='#', title='删除',onclick='todel()')
            p.mian_b1_a2
        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='3%')
                input(name='', type='checkbox', value='')
              td.mian_b_bg_lm(width='10%')
                span
                | 工号
              td.mian_b_bg_lm(width='10%')
                span
                | 员工姓名
              td.mian_b_bg_lm(colspan='2')
                span
                | 操作
              each item in employeesdetail
                tr
                  td
                    input(name='test', type='checkbox', value='#{item.roleid}')
                  td=item.roleid
                  td=item.rolename
                  td.mian_b_icon_01(width='5%')
                    a(href='employeeRoUpdpage/#{item.roleid}') 编辑
            tr
              td.mian_b_bg_lm(width='3%')
              td.mian_b_bg_lm(width='10%')
                span
                | 工号
              td.mian_b_bg_lm(width='5%')
                span
                | 员工名称
              td.mian_b_bg_lm(colspan='2')
                span
                | 操作
