doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='Employlee.jade')
              p
                | 人员信息
          li
            a(href='RSEventApply.jade')
              p
                | 招聘申请
          li
            a(href='RSEventApply.jade')
              p
                | 职位调整申请
          li
            a(href='RSEventApply.jade')
              p
                | 离职申请
          li
            a(href='RSEventApply.jade')
              p
                | 培训申请
          li
            a(href='ExaAppdocument.jade')
              p
                | 公文审批
      .mian_b
        table.mian_b_bg_xz(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='5%')
              td.mian_b_bg_lm(colspan='4')
                | 查看员工信息
        table(width='100%', border='1', cellpadding='0', cellspacing='0', bordercolor='#B1C4F3')
          tbody
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                | 基本信息
            tr(style='background-color: White; height: 30px')
              td(style='width: 8%;', align='center')
                | 姓名
              td(style='width: 8%', align='center')
                | 性别
              td(style='width: 8%', align='center')
                | 出生年月
              td(style='width: 8%', align='center')
                | 学历
              td(style='width: 8%', align='center')
                | 专业
              td(style='width: 8%', align='center')
                | 工作年限
              td(style='width: 8%', align='center')
                | 政治面貌
              td(style='width: 8%', rowspan='5', align='center', valign='middle')
                img(src='..\images\head_pic.png')
            tr(style='background-color: White; height: 30px')
              td(style='text-align:center')
                | 张三三
              td(style='text-align:center')
                | 女
              td
                input#Text2(type='text', style='border: 0px; width: 100px')
              td
                input#Text3(type='text', style='border: 0px; width: 100px')
              td
                input#Text4(type='text', style='border: 0px; width: 100px')
              td
                input#Text5(type='text', style='border: 0px; width: 100px')
              td
                input#Text6(type='text', style='border: 0px; width: 100px')
            tr(style='background-color: White; height: 30px')
              td
                | 籍贯
              td(colspan='2')
                | 手机
              td(colspan='3')
                | 邮箱
              td
            tr(style='background-color: White; height: 30px')
              td
                input#Text11(type='text', style='border: 0px; width: 100px')
              td(colspan='2')
                input#Text12(type='text', style='border: 0px; width: 200px')
              td(colspan='3')
                input#Text13(type='text', style='border: 0px; width: 300px')
              td
            tr(style='background-color: White; height: 30px')
              td
                | 家庭住址：
              td(colspan='4')
                input#Text7(type='text', style='border: 0px; width: 300px')
              td
                | 邮编：
              td
                input#Text8(type='text', style='border: 0px; width: 100px')
            tr(style='background-color: White; height: 30px')
              td
                | 户口所在地：
              td(colspan='4')
                input#Text9(type='text', style='border: 0px; width: 300px')
              td
                | 邮编：
              td
                input#Text10(type='text', style='border: 0px; width: 100px')
              td(align='center')
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                | 教育经历
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                table(width='100%', border='1', cellpadding='0', cellspacing='0', bordercolor='#B1C4F3', style='text-align: center;')
                  tbody
                    tr
                      td(rowspan='2')
                        | 序号
                      td(colspan='2')
                        | 时间
                      td(rowspan='2')
                        | 学校
                      td(rowspan='2')
                        | 专业
                      td(rowspan='2')
                        | 学历、学位
                      td(rowspan='2')
                        | 备注
                    tr
                      td
                        | 开始时间
                      td
                        | 结束时间
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                      td
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                      td
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                      td
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                | 培训经历
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                table(width='100%', border='1', cellpadding='0', cellspacing='0', bordercolor='#B1C4F3', style='text-align: center;')
                  tbody
                    tr
                      td(rowspan='2')
                        | 序号
                      td(colspan='2')
                        | 时间
                      td(rowspan='2')
                        | 培训机构
                      td(rowspan='2')
                        | 培训项目
                      td(rowspan='2')
                        | 备注
                    tr
                      td
                        | 开始时间
                      td
                        | 结束时间
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                | 其它经历
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                table(width='100%', border='1', cellpadding='0', cellspacing='0', bordercolor='#B1C4F3', style='text-align: center;')
                  tbody
                    tr
                      td(rowspan='2')
                        | 序号
                      td(colspan='2')
                        | 时间
                      td(rowspan='2')
                        | 事项
                      td(rowspan='2')
                        | 描述
                      td(rowspan='2')
                        | 证明材料
                      td(rowspan='2')
                        | 备注
                    tr
                      td
                        | 开始时间
                      td
                        | 结束时间
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                      td
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                      td
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                      td
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                | 职位信息
            tr(style='background-color: White; height: 30px')
              td(align='center')
                | 部门
              td(align='center')
                | 职位
              td(align='center')
                | 入职时间
              td(align='center')
                | 工作年限
              td(align='center')
                | 座机号码
              td(align='center', colspan='2')
                | 公司邮箱
              td(align='center', valign='middle')
                | 备注
            tr(style='background-color: White; height: 30px')
              td(align='center')
                | 软装部
              td(align='center')
              td(align='center')
              td(align='center')
              td(align='center')
              td(align='center', colspan='2')
              td(align='center')
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                | 薪资结构
            tr(style='background-color: White; height: 30px')
              td(align='center', rowspan='2')
                | 基本工资
              td(align='center', rowspan='2')
                | 岗位工资
              td(align='center', rowspan='2')
                | 绩效奖金
              td(align='center', rowspan='2')
                | 四金
              td(align='center', colspan='3')
                | 福利补贴
              td(align='center', rowspan='2')
                | 合计
            tr(style='background-color: White; height: 30px')
              td(align='center')
                | 通讯费
              td(align='center')
                | 车费
              td(align='center')
                | 午餐费
            tr(style='background-color: White; height: 30px')
              td(align='center')
              td(align='center')
              td(align='center')
              td(align='center')
              td(align='center')
              td(align='center')
              td(align='center')
              td(align='center')
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                | 工作记录
            tr(style='background-color: White; height: 30px')
              td(colspan='8')
                table(width='100%', border='1', cellpadding='0', cellspacing='0', bordercolor='#B1C4F3', style='text-align: center;')
                  tbody
                    tr
                      td(rowspan='2')
                        | 序号
                      td(colspan='2')
                        | 时间
                      td(rowspan='2')
                        | 职位
                      td(rowspan='2')
                        | 描述
                      td(rowspan='2')
                        | 备注
                    tr
                      td
                        | 开始时间
                      td
                        | 结束时间
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
                    tr
                      td
                      td
                      td
                      td
                      td
                      td
            tr(style='background-color: White; height: 30px')
              td(style='text-align: left', colspan='7')
                | 人事部确认
              td(align='center')
                | 张三
            tr(style='background-color: White; height: 30px')
              td(style='text-align: left', colspan='7')
                | 人事部负责人确认
              td(align='center')
                | 李四
            tr(style='background-color: White; height: 30px')
              td(style='text-align: left', colspan='7')
                | 填表日期
              td(align='center')
                | 2012-03-21
            tr(style='background-color: White; height: 30px')
              td(align='center', colspan='8')
                a(href='Employlee.jade')
                  img(src='..\images\bnt_05.gif', alt='', width='80', height='22')
    script(src='/common.js')
