doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='Employlee.jade')
              p
                | 人员信息
          li
            a(href='RSEventApply.jade')
              p
                | 招聘申请
          li
            a(href='RSEventApply.jade')
              p
                | 职位调整申请
          li
            a(href='RSEventApply.jade')
              p
                | 离职申请
          li
            a(href='RSEventApply.jade')
              p
                | 培训申请
          li
            a(href='ExaAppdocument.jade')
              p
                | 公文审批
      .mian_b
        table.mian_b_bg_xz(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='5%')  
              td.mian_b_bg_lm(colspan='3') 普通申请详细
            tr
              td  
              td(width='10%', valign='top') 标题：
              td(width='60%')
                | 我的事假申请
              td(width='30%')  
            tr
              td  
              td(width='10%', valign='top') 申请时间：
              td(width='60%')
                | 2012-3-21
              td(width='30%')  
            tr
              td  
              td(width='10%', valign='top') 申请人：
              td(width='60%')
                | 吴菲菲
              td(width='30%')  
            tr
              td  
              td(width='10%', valign='top') 内容：
              td(width='60%')
                | 我的事假申请
              td(width='30%')  
            tr
              td  
              td  
              td
                div(align='center')
                  img(src='..\images\bnt_05.gif', alt='', width='80', height='22', onclick='javascript:window.history.go(-1);')
              td  
    script(src='/common.js')
