doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='NoticeClass.jade')
              p
                | 公告类别
          li
            a(href='Notice.jade')
              p
                | 公告管理
          li
            a(href='NoticeCount.jade')
              p
                | 公告统计
          li
            a(href='NoticeShow.jade')
              p
                | 公告查看
      .mian_b
        table.mian_b_bg_xz(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='5%')  
              td.mian_b_bg_lm(colspan='3') 添加公告
            tr
              td  
              td(width='10%', valign='top') 公告标题：
              td(width='55%')
                input#textfield.input_01(type='text', name='textfield')
              td(width='35%')  
            tr
              td  
              td(valign='top') 有效期：
              td
                input#text1.input_01(type='text', name='textfield')
                | -
                input#text2.input_01(type='text', name='textfield')
              td  
            tr
              td  
              td(valign='middle') 查看人员：
              td
                table.mian_b_bg_xz(width='100%', border='0', cellpadding='0', cellspacing='0')
                  tbody
                    tr
                      td(width='80%')
                        input#Checkbox2(type='checkbox')
                        | 人事部
                      td
                    tr
                      td(colspan='2')
                        input#Checkbox3(type='checkbox')
                        | 小红
                        input#Checkbox4(type='checkbox')
                        | 小张
                        input#Checkbox5(type='checkbox')
                        | 小王
                        input#Checkbox6(type='checkbox')
                        | 小黑
                        input#Checkbox7(type='checkbox')
                        | 小贝
                    tr
                      td(width='80%')
                        input#Checkbox1(type='checkbox')
                        | 财务部
                      td
                    tr
                      td(colspan='2')
                        input#Checkbox8(type='checkbox')
                        | 小红
                        input#Checkbox9(type='checkbox')
                        | 小张
                        input#Checkbox10(type='checkbox')
                        | 小王
                        input#Checkbox11(type='checkbox')
                        | 小黑
                        input#Checkbox12(type='checkbox')
                        | 小贝
              td  
            tr
              td  
              td(valign='top') 公告内容：
              td
                img(src='../images/123.png')
              td  
            tr
              td  
              td  
              td
                div(align='center')
                  a(href='Notice.jade')
                    img(src='..\images\bnt_03.gif', style='margin-right:10px;', width='80', height='22')
                  img(src='..\images\bnt_05.gif', alt='', width='80', height='22', onclick='javascript:window.history.go(-1);')
              td  
    script(src='/common.js')
