doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='toCargo')
              p
                | 出库管理
        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='3%')
                input(name='', type='checkbox', value='')
              td.mian_b_bg_lm(width='15%')
                span
                | 原料名称
              td.mian_b_bg_lm(width='35%')
                span
                | 总重量
              td.mian_b_bg_lm(width='10%')
                span
                | 单位
            tr
              td
                input(name='', type='checkbox', value='')
              td
                | 一般订单
              td
                | 很一般的订单
              td
                |浏览

