doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    style.
      #sy {
        float: left;
        margin: 20px;
      }

      #syy {
        float: left;
        margin: 20px;
      }

      #xyy {
        float: left;
        margin: 20px;

      }

      #wy {

        float: left;
        margin: 20px;

      }

      #sum {

        float: left;
        margin: 20px;

      }

    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')




  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul

          li
            a(href='fanhui')
              p
                | 菜品分类
      .mian_b
        .mian_b1
          p.mian_b1_sousuo


            p.mian_b1_a3




        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0' id="getAll")
          tbody
            tr
              td.mian_b_bg_lm(width='3%')
              td.mian_b_bg_lm(width='87%')
                | 项目列表
              td.mian_b_bg_lm(width='10%')
                | 操作

    |     分类名称
    input#shijian(type='text',class="add"  )
    input#classifyid(type='hidden')
    input(type='submit', value='添加', onclick='add()')
    input(type='submit', value='返回', onclick='fanhui()')


    script(src='/js/jquery-1.7.1.min.js')
    script(src='/js/cuisineClassfy.js')
    script(type='text/javascript').











