doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 菜品管理
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    script(type='text/javascript', src='/js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/js/pinyin.js')
    script.
        function getAll() {
            var cuisineacronym = $("#shortName").val().trim();
            $(".mian_b_bg:not(0)").empty();
            $.ajax({
                "url": "getAll",
                "data":"cuisineacronym="+cuisineacronym,
                "dataType": "json",
                "type": "post",
                "success": function (result) {
                   $(result).each(function () {
                       var ify = "";
                       if (this.cuisineidentify == 1) {
                           ify = "普通菜";
                       } else if (this.cuisineacronym == 2) {
                           ify = "热门菜";
                       } else if (this.cuisineacronym == 3) {
                           ify = "促销菜";
                       }
                       $(".mian_b_bg").append("<tr>" +
                           "<td><img ' id='pictureshow',width='100', height='100', style='vertical-align: text-top;',src='"+this.picture+"'/></td>" +
                           "<td>" + this.cuisinename + "</td>" +
                           "<td>" + this.price + "</td>" +
                           "<td>" + this.cuisineacronym + "</td>" +
                           "<td>" + ify + "</td>" +
                           "<td> " + this.classify.classifyname + "</td>" +
                           "<td>" +
                           "                  <a onclick='del('"+this.cuisineid+"')' href='javaScript:void(0)'>删除</a> " +
                           "                  &nbsp;| &nbsp;\n" +
                           "                  <a onclick='upd('"+this.cuisineid+"')' href='javaScript:void(0)'> 修改</a>" +
                           "</td></tr>")
                   })
                }
            });
        }
        function del(cuisineId){
            $.ajax({
                "url": "del/" + cuisineId,
                "dataType": "json",
                "type": "get",
                "success": function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        $("tr").empty();
                        show();
                    } else {
                        alert("删除失败");
                    }
                }
            })
        }
        function add() {
            window.location.href='cuiadd';
        }
        function upd(cuisineid) {
            window.location.href='cuisineupd?cuisineid='+cuisineid;
        }
        function show() {
            window.location.href = 'cuisine';
        }
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='javascript:void(0)' onclick='show()')
              p
                | 菜品管理
      .mian_b
        .mian_b1
          p.mian_b1_sousuo
            input(id='cuisineName', type='text' onkeyup="pinyin()")
            input(id="shortName" name="dishShortName" style='display:none')
          a(href='javascript:void(0)', onclick='getAll()' title='搜索')
            p.mian_b1_a3
          a( onclick='add()' href='javaScript:void(0)' title='添加')
            p.mian_b1_a1
        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='12%')
                  | 图片展示
              td.mian_b_bg_lm(width='12%')
                  | 菜名
              td.mian_b_bg_lm(width='12%')
                  | 价格
              td.mian_b_bg_lm(width='12%')
                  | 所属分类
              td.mian_b_bg_lm(width='12%')
                  | 所属菜系
              td.mian_b_bg_lm(width='12%')
                    | 菜品列表
              td.mian_b_bg_lm(width='16%')
                  | 操作
            tr
              td
              td
          each item in users
            tr
              td()
                  img(id='pictureshow',width='100', height='100', style='vertical-align: text-top;',src='#{item.picture}')
              td()
                =item.cuisinename
              td()
                =item.price
              td()
                =item.cuisineacronym
              td()
                if(item.cuisineidentify==0)
                  = '普通菜'
                else if(item.cuisineidentify == 1)
                  = '热门菜'
                else if(item.cuisineidentify == 2)
                  = '促销菜'
              td
                =item.classify.classifyname
              td
                  a(onclick='del('+item.cuisineid+')' href='javaScript:void(0)') 删除
                  |&nbsp;| &nbsp;
                  a(onclick='upd('+item.cuisineid+')' href='javaScript:void(0)') 修改
                  | &nbsp;| &nbsp;
                  a(href='/cuisinecontroller/goRecipe/'+item.cuisineid) 查看配方
