doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')


select#grade(name='grade')
    option(value='招牌') 招牌
    option(value='新品推荐') 新品推荐
    option(value='经典热菜') 经典热菜
    option(value='正宗川菜') 正宗川菜
    option(value='水产海鲜') 水产海鲜
    option(value='精品小食') 精品小食
    option(value='精美凉菜') 精美凉菜
    option(value='主食') 主食
    option(value='面食') 面食
    input(type='submit', value='查询', onclick='getcaibyfen()')
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='fanhui')
              p
                | 菜品分类

      .mian_b
        .mian_b1
          p.mian_b1_sousuo
            input(name='', type='text' id='name')

          a(onclick="index()" href="javascript:void(0);" )

            p.mian_b1_a3


          input(type='submit', value='添加分类', onclick='go()' id="tian" )
          input(type='submit', value='批量删除', onclick='delpiliang()' id="tian1")
          input(type='checkbox', value='全选', onclick='quanxuan()' id="allcheck")



          input#classifyid(type='hidden')

          a(href='javascript:void(0);', title='最后')


            p.mian_b1_a4
          a(href='javascript:void(0);', title='下一页')
            p.mian_b1_a5
          p.mian_b1_list
            | 1 2 3 4……
          a(href='javascript:void(0);', title='上一页')
            p.mian_b1_a6
          a(href='javascript:void(0);', title='最前')
            p.mian_b1_a7
        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0' id="getAll")
          tbody
            tr
              td.mian_b_bg_lm(width='3%')
              td.mian_b_bg_lm(width='87%')
                | 项目列表
              td.mian_b_bg_lm(width='10%')
                | 操作






                tr
                  td
                  td
                    table.mian_b_lb(width='100%', border='0', cellspacing='0', cellpadding='0')
                      tbody
                    td
                      .mian_b_icon_03
                        a(href='javascript:void(0);'); 查看





        script(src='/js/jquery-1.7.1.min.js')
        script(src='/js/cuisineClassfy.js')

        script(type='text/javascript').
style.

  #tian1 {
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    width: 70px;
    margin-top: 10px;
  }

  #tian {
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    width: 70px;
    margin-top: 10px;
  }




