doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='KnowLedgeClass.jade')
              p
                | 硬装
          li
            a(href='biaoganxiangmuList.jade')
              p
                | 标杆项目
          li
            a(href='ruanzhuangxiangmuList.jade')
              p
                | 软装
          li
            a(href='xiangmuguanliList.jade')
              p
                | 项目管理
      .mian_b
        table.mian_b_bg_xz(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='5%')
              td.mian_b_bg_lm(colspan='3', width='95%')
                | 项目信息详细
            tr
              td(colspan='4')
                table(style='width: 100%;', border='1')
                  tbody
                    tr
                      td(colspan='10')
                        .mian_b1
                          a(href='#', title='最后')
                            p.mian_b1_a4
                          a(href='#', title='下一页')
                            p.mian_b1_a5
                          p.mian_b1_list
                            | 1 2 3 4……
                          a(href='#', title='上一页')
                            p.mian_b1_a6
                          a(href='#', title='最前')
                            p.mian_b1_a7
                    tr
                      td(width='10%', align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(width='10%', align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(width='10%', align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(width='10%', align='center')
                        img(src='..\images\Word.png', width='80', height='80')
                      td(width='10%', align='center')
                        img(src='../images/wenjianjia02.jpg', width='80', height='80')
                      td(width='10%', align='center')
                        img(src='../images/wenjianjia03.jpg', width='80', height='80')
                      td(width='10%', align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(width='10%', align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(width='10%', align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(width='10%')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                    tr
                      td(align='center')
                        | XXXXXX.JPG
                      td(align='center')
                        | XXXXXX.JPG
                      td(align='center')
                        | XXXXX.BMP
                      td(align='center')
                        | XXXXX.DOC
                      td(align='center')
                        | XXXXX.XLS
                      td(align='center')
                        | XXXXX.PDF
                      td(align='center')
                        | XXXXXX.JPG
                      td(align='center')
                        | XXXXXX.JPG
                      td(align='center')
                        | XXXXXX.JPG
                      td(align='center')
                        | XXXXXX.JPG
                    tr
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(align='center')
                        img(src='..\images\wenjianjia01.jpg', width='80', height='80')
                      td(align='center')
                        img(src='../images/wenjianjia02.jpg', width='80', height='80')
                      td(align='center')
                        img(src='../images/wenjianjia03.jpg', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                    tr
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                    tr
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(align='center')
                        img(src='..\images\wenjianjia01.jpg', width='80', height='80')
                      td(align='center')
                        img(src='../images/wenjianjia02.jpg', width='80', height='80')
                      td(align='center')
                        img(src='../images/wenjianjia03.jpg', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                    tr
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                    tr
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\wenjianjia.jpg', width='80', height='80')
                      td(align='center')
                        img(src='..\images\wenjianjia01.jpg', width='80', height='80')
                      td(align='center')
                        img(src='../images/wenjianjia02.jpg', width='80', height='80')
                      td(align='center')
                        img(src='../images/wenjianjia03.jpg', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                      td(align='center')
                        img(src='..\images\Excel.png', width='80', height='80')
                    tr
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
                      td(align='center')
                        | xxxxx.xlxs
            tr(height='50')
              td
              td
                div(align='center')
                  img(src='..\images\bnt_05.gif', alt='', width='80', height='22', onclick='javascript:window.history.go(-1);')
              td
              td
    script(src='/common.js')
