doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    script(language='javascript', type='text/javascript').
      function click1(num){
      if(document.getElementById(num).style.display=="block")
      {
      document.getElementById(num).style.display="none";
      }
      else
      {
      document.getElementById(num).style.display="block";
      }
      }
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='javaScript:void(0)')
              p= '《'+users.cuisinename+'》配方'
      .mian_b
        .mian_b1
          a(href='/cuisinecontroller/recipeadd/'+users.cuisineid, title='添加')
            p.mian_b1_a1
          a(href='#', title='删除')
            p.mian_b1_a2
        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr#search(style='display: none;')
              td(colspan='8', style='height: 35px; background-color: #DBDBDB;margin-left:20px')
                select
                  option
                    | 性别
                  option
                    | 男
                  option
                    | 女
                select
                  option
                    | 所属部门
                  option
                    | 软装部
                  option
                    | 人事部
                select
                  option
                    | 状态
                  option
                    | 在职
                  option
                    | 离职
                input.input_03(name='', type='text', value='工号、姓名、职位、手机')
                input.input_03(name='', type='text', value='起始日期')
                |  - 
                input.input_03(name='', type='text', value='结束日期')
              td(colspan='3', style='height: 35px; background-color: #DBDBDB;')
                a(href='#', title='高级搜索')
                  p.mian_b1_a8(onclick="click('search');")
            tr
              td.mian_b_bg_lm(width='3%')
                input(name='', type='checkbox', value='')
              td.mian_b_bg_lm(width='15%')
                span
                | 配方声明
              td.mian_b_bg_lm(width='15%')
                span
                | 配料剂量
              td.mian_b_bg_lm(width='15%')
                span
                | 配料名称
           if users.repice!=null
             each item in users.repice
                   tr
                     td
                       input(name='', type='checkbox', value='')
                     td=item.recipecontent
                     td=item.recipeweight*1000
                       if item.stock.stockunit=='KG'
                         span
                         | &nbsp;g
                       else if item.stock.stockunit=='L'
                         span
                         | &nbsp;ml
                     td=item.stock.stockname

