doctype transitional
html(xmlns='http//www.w3.org/1999/xhtml')
  head
    title 无标题页
    link(rel='stylesheet', type='text/css', href='../css/index.css')
  body.mian_bj
    .mian_top_01
      .mian_top_r
      .mian_top_l
      .mian_top_c
        ul
          li
            a(href='KnowLedgeClass.jade')
              p
                | 硬装
          li
            a(href='biaoganxiangmuList.jade')
              p
                | 标杆项目
          li
            a(href='ruanzhuangxiangmuList.jade')
              p
                | 软装
          li
            a(href='xiangmuguanliList.jade')
              p
                | 项目管理
      .mian_b
        .mian_b1
          p.mian_b1_sousuo
            input(name='', type='text')
          a(href='#', title='搜索')
            p.mian_b1_a3
          a(href='#', title='最后')
            p.mian_b1_a4
          a(href='#', title='下一页')
            p.mian_b1_a5
          p.mian_b1_list
            | 1 2 3 4……
          a(href='#', title='上一页')
            p.mian_b1_a6
          a(href='#', title='最前')
            p.mian_b1_a7
        table.mian_b_bg(width='100%', border='0', cellpadding='0', cellspacing='0')
          tbody
            tr
              td.mian_b_bg_lm(width='3%')
              td.mian_b_bg_lm(width='87%')
                | 项目列表
              td.mian_b_bg_lm(width='10%')
                | 操作
            tr
              td
              td
                table.mian_b_lb(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tbody
                    tr
                      td(rowspan='3', width='98')
                        img(src='..\images\lb_pic_03.jpg', width='94', height='92')
                      td(width='70', valign='top')
                        | 项目名称：
                      td(width='aotu', valign='top')
                        | 世尊家具
                    tr
                      td(valign='top')
                        | 项目时间：
                      td(valign='top')
                        | 2012-03-1至2012-03-15
                    tr
                      td(valign='top')
                        | 项目简介：
                      td(valign='top')
                        | 4000年前，华夏先民就开始以“春分竖蛋”庆贺春天的来临，“春分到，蛋儿俏”的说法流传至今。
                        br
                        | 今天是春分，你开始庆祝春天的到来了么
              td
                .mian_b_icon_03
                  a(href='ruzhuanClassDetails.htm') 查看
            tr
              td
              td
                table.mian_b_lb(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tbody
                    tr
                      td(rowspan='3', width='98')
                        img(src='..\images\lb_pic_03.jpg', width='94', height='92')
                      td(width='70', valign='top')
                        | 项目名称：
                      td(width='aotu', valign='top')
                        | 世尊家具
                    tr
                      td(valign='top')
                        | 项目时间：
                      td(valign='top')
                        | 2012-03-1至2012-03-15
                    tr
                      td(valign='top')
                        | 项目简介：
                      td(valign='top')
                        | 4000年前，华夏先民就开始以“春分竖蛋”庆贺春天的来临，“春分到，蛋儿俏”的说法流传至今。
                        br
                        | 今天是春分，你开始庆祝春天的到来了么
              td(align='left')
                .mian_b_icon_03
                  a(href='ruzhuanClassDetails.htm') 查看
            tr
              td
              td
                table.mian_b_lb(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tbody
                    tr
                      td(rowspan='3', width='98')
                        img(src='..\images\lb_pic_03.jpg', width='94', height='92')
                      td(width='70', valign='top')
                        | 项目名称：
                      td(width='aotu', valign='top')
                        | 世尊家具
                    tr
                      td(valign='top')
                        | 项目时间：
                      td(valign='top')
                        | 2012-03-1至2012-03-15
                    tr
                      td(valign='top')
                        | 项目简介：
                      td(valign='top')
                        | 4000年前，华夏先民就开始以“春分竖蛋”庆贺春天的来临，“春分到，蛋儿俏”的说法流传至今。
                        br
                        | 今天是春分，你开始庆祝春天的到来了么
              td
                .mian_b_icon_03
                  a(href='ruzhuanClassDetails.htm') 查看
            tr
              td
              td
                table.mian_b_lb(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tbody
                    tr
                      td(rowspan='3', width='98')
                        img(src='..\images\lb_pic_03.jpg', width='94', height='92')
                      td(width='70', valign='top')
                        | 项目名称：
                      td(width='aotu', valign='top')
                        | 世尊家具
                    tr
                      td(valign='top')
                        | 项目时间：
                      td(valign='top')
                        | 2012-03-1至2012-03-15
                    tr
                      td(valign='top')
                        | 项目简介：
                      td(valign='top')
                        | 4000年前，华夏先民就开始以“春分竖蛋”庆贺春天的来临，“春分到，蛋儿俏”的说法流传至今。
                        br
                        | 今天是春分，你开始庆祝春天的到来了么
              td
                .mian_b_icon_03
                  a(href='ruzhuanClassDetails.htm') 查看
            tr
              td.mian_b_bg_lm(width='3%')
              td.mian_b_bg_lm(width='87%')
                | 项目列表
              td.mian_b_bg_lm(width='10%')
                | 操作
    script(src='/common.js')
