<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orderfood.mapper.CargoMapper">
    <resultMap id="OrderfoodCargo" type="com.orderfood.pojo.OrderfoodCargo">
        <id property="cargoid" column="cargoId"/>
        <result property="cStockid" column="c_stockId"/>
        <result property="cargoprice" column="cargoPrice"/>
        <result property="cargoweight" column="cargoWeight"/>
        <result property="weightCount" column="weightCount"/>
        <association property="stock" javaType="com.orderfood.pojo.OrderfoodStock">
            <id property="stockid" column="stockId"/>
            <result property="stockname" column="stockName"/>
            <result property="stockweight" column="stockWeight"/>
            <result property="stockunit" column="stockUnit"/>
        </association>
    </resultMap>
    <!--查询所有数据-->
    <select id="getAllCargo" resultMap="OrderfoodCargo">
      SELECT * FROM orderfood_cargo cargo INNER JOIN orderfood_stock stock ON cargo.`c_stockId`=stock.`stockId`
    </select>
    <!--根据库存id查询数据-->
    <select id="SelectCargo" parameterType="Integer" resultMap="OrderfoodCargo">
      SELECT * FROM orderfood_cargo cargo
      INNER JOIN orderfood_stock stock
      ON cargo.`c_stockId`=stock.`stockId`
      where cargo.cargoId=#{cargoid}
    </select>
    <!--根据库存id修改库存数据-->
    <update id="UpdateCargo" parameterType="com.orderfood.pojo.OrderfoodCargo">
        UPDATE orderfood_cargo SET cargoPrice=#{cargoprice},cargoWeight=#{cargoweight} WHERE cargoId=#{cargoid}
    </update>
    <!--添加入库支出流水-->
    <insert id="InsRunData" parameterType="com.orderfood.pojo.OrderfoodRunningData">
        INSERT INTO orderfood_running_data VALUES(NULL,#{dataprice},'支',NOW(),#{datacomment})
    </insert>
    <!--添加入库数据-->
    <insert id="InsertCargo" parameterType="com.orderfood.pojo.OrderfoodCargo">
        INSERT INTO orderfood_cargo VALUES(NULL,#{cargoprice},#{cargoweight},#{cStockid})
    </insert>
    <!--获取单位-->
    <select id="getUnitl" resultType="com.orderfood.pojo.OrderfoodStock">
        SELECT stockId,stockName FROM orderfood_stock
    </select>
    <!--分页数据-->
    <select id="findNewsPage" resultMap="OrderfoodCargo">
        SELECT * FROM orderfood_cargo cargo
        INNER JOIN orderfood_stock stock
        ON cargo.`c_stockId`=stock.`stockId` LIMIT #{Start},#{Size}
    </select>
    <!--分页所需库存总条数-->
    <select id="findNewCont" resultType="java.lang.Integer">
        SELECT COUNt(1) FROM orderfood_cargo cargo
        INNER JOIN orderfood_stock stock
        ON cargo.`c_stockId`=stock.`stockId`
    </select>
    <!--模糊条件查分页所需数据-->
    <select id="findLike" resultMap="OrderfoodCargo">
        SELECT * FROM orderfood_cargo cargo
        INNER JOIN orderfood_stock stock
        ON cargo.`c_stockId`=stock.`stockId`
        WHERE stockName LIKE CONCAT('%',#{stockname},'%')
        LIMIT #{Start},#{Size}
    </select>
    <!--模糊条件查出的数据总条数-->
    <select id="findLikeCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM orderfood_cargo cargo
        INNER JOIN orderfood_stock stock
        ON cargo.`c_stockId`=stock.`stockId`
        WHERE stockName LIKE CONCAT('%',#{stockname},'%')
    </select>
    <!--查看库存余量-->
    <select id="weightSum" resultMap="OrderfoodCargo">
        SELECT stock.`stockName`,SUM(cargo.`cargoWeight`) AS weightCount,stock.`stockUnit` FROM orderfood_cargo cargo
        RIGHT JOIN orderfood_stock stock
        ON cargo.`c_stockId`=stock.`stockId`
        WHERE stockName=#{stockname}
    </select>
</mapper>