<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.orderfood.mapper.EmployeeRodeMapper">

    <select id="getAllRo" resultType="com.orderfood.pojo.OrderfoodEmployeeRole">
             SELECT * FROM orderfood_employee_role
    </select>
    <delete id="delRo" parameterType="Integer">
              DELETE FROM orderfood_employee_role WHERE roleId = #{roleid}
    </delete>
    <insert id="addRo" parameterType="com.orderfood.pojo.OrderfoodEmployeeRole">
              INSERT INTO orderfood_employee_role VALUES(NULL,#{rolename})
    </insert>
    <update id="updRo" parameterType="com.orderfood.pojo.OrderfoodEmployeeRole">
            UPDATE orderfood_employee_role SET roleName = #{rolename} WHERE roleId = #{roleid}
    </update>
    <select id="selRo" resultType="com.orderfood.pojo.OrderfoodEmployeeRole">
            SELECT * FROM orderfood_employee_role WHERE roleId = #{roleid}
    </select>
</mapper>