<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orderfood.mapper.IndentDetailsMapper">
    <resultMap id="ds" type="com.orderfood.pojo.OrderfoodIndentDetails">
        <id property="detailsid" column="detailsId"/>
        <result property="dCuisineid" column="d_cuisineId"/>
        <result property="detailscount" column="detailsCount"/>
        <result property="dIndentid" column="d_indentId"/>
        <association property="indent" javaType="com.orderfood.pojo.OrderfoodIndent">
            <id property="indentid" column="indentId"/>
            <result property="indentcode" column="indentCode"/>
            <result property="iTableid" column="i_tableId"/>
            <result property="createdate" column="createDate"/>
            <result property="indentcomment" column="indentComment"/>
            <result property="totalmoney" column="totalmoney"/>
            <result property="netmoney" column="netmoney"/>
            <result property="iEmployeeid" column="i_employeeId"/>
        </association>
        <association property="cuisine" javaType="com.orderfood.pojo.OrderfoodCuisine">
            <id property="cuisineid" column="cuisineId"/>
            <result property="cuisinename" column="cuisineName"/>
            <result property="price" column="price"/>
            <result property="cuisineacronym" column="cuisineAcronym"/>
            <result property="cuisineidentify" column="cuisineIdentify"/>
            <result property="cClassifyid" column="c_classifyId"/>
        </association>
    </resultMap>

    <resultMap id="tableDetails" type="com.orderfood.pojo.OrderfoodIndent">
        <id property="indentid" column="indentId"/>
        <result property="indentcode" column="indentCode"/>
        <result property="iTableid" column="i_tableId"/>
        <result property="createdate" column="createDate"/>
        <result property="indentcomment" column="indentComment"/>
        <result property="totalmoney" column="totalmoney"/>
        <result property="netmoney" column="netmoney"/>
        <result property="iEmployeeid" column="i_employeeId"/>
        <association property="orderfoodTable" javaType="com.orderfood.pojo.OrderfoodTable">
            <id property="tableid" column="tableId" />
            <result property="tablenumber" column="tableNumber"/>
            <result property="tablestatus" column="tableStatus"/>
        </association>
        <association property="orderfoodEmployee" javaType="com.orderfood.pojo.OrderfoodEmployee">
            <id property="employeeid" column="employeeId"/>
            <result property="employeename" column="employeeName"/>
            <result property="age" column="age"/>
            <result property="username" column="userName"/>
            <result property="password" column="password"/>
            <result property="sex" column="sex"/>
            <result property="address" column="address"/>
            <result property="phone" column="phone"/>
            <result property="createdate" column="createDate"/>
            <result property="eRoleid" column="e_roleId"/>
        </association>
        <collection property="details" ofType="com.orderfood.pojo.OrderfoodIndentDetails">
            <id property="detailsid" column="detailsId"/>
            <result property="dCuisineid" column="d_cuisineId"/>
            <result property="detailscount" column="detailsCount"/>
            <result property="dIndentid" column="d_indentId"/>
            <association property="cuisine" javaType="com.orderfood.pojo.OrderfoodCuisine">
                <id property="cuisineid" column="cuisineId"/>
                <result property="cuisinename" column="cuisineName"/>
                <result property="price" column="price"/>
                <result property="cuisineacronym" column="cuisineAcronym"/>
                <result property="cuisineidentify" column="cuisineIdentify"/>
                <result property="cClassifyid" column="c_classifyId"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="classify" type="com.orderfood.pojo.OrderfoodCuisineClassify">
        <id property="classifyid" column="classifyId"/>
        <result property="classifyname" column="classifyName"/>
        <result property="suoxie" column="suoxie" />
        <collection property="cuss" ofType="com.orderfood.pojo.OrderfoodCuisine">
            <id property="cuisineid" column="cuisineId"></id>
            <result property="cuisinename" column="cuisineName"></result>
            <result property="price" column="price"></result>
            <result property="cuisineacronym" column="cuisineAcronym"></result>
            <result property="cuisineidentify" column="cuisineIdentify"></result>
            <result property="cClassifyid" column="c_classifyId"></result>
            <result property="picture" column="picture"></result>
        </collection>
    </resultMap>

    <resultMap id="userDetails" type="com.orderfood.pojo.OrderfoodIndent">
        <id property="indentid" column="indentId"/>
        <result property="indentcode" column="indentCode"/>
        <result property="iTableid" column="i_tableId"/>
        <result property="createdate" column="createDate"/>
        <result property="indentcomment" column="indentComment"/>
        <result property="totalmoney" column="totalmoney"/>
        <result property="netmoney" column="netmoney"/>
        <result property="iEmployeeid" column="i_employeeId"/>
        <association property="orderfoodUser" javaType="com.orderfood.pojo.OrderfoodUser">
            <id property="user_id" column="user_id"/>
            <result property="user_name" column="user_name"/>
            <result property="user_phone" column="user_phone"/>
        </association>
        <collection property="details" ofType="com.orderfood.pojo.OrderfoodIndentDetails">
            <id property="detailsid" column="detailsId"/>
            <result property="dCuisineid" column="d_cuisineId"/>
            <result property="detailscount" column="detailsCount"/>
            <result property="dIndentid" column="d_indentId"/>
            <association property="cuisine" javaType="com.orderfood.pojo.OrderfoodCuisine">
                <id property="cuisineid" column="cuisineId"/>
                <result property="cuisinename" column="cuisineName"/>
                <result property="price" column="price"/>
                <result property="cuisineacronym" column="cuisineAcronym"/>
                <result property="cuisineidentify" column="cuisineIdentify"/>
                <result property="cClassifyid" column="c_classifyId"/>
            </association>
        </collection>
    </resultMap>

    <insert id="addIndent" parameterType="com.orderfood.pojo.OrderfoodIndent">
        INSERT INTO `orderfood_indent` VALUES(NULL,#{indentcode},#{iTableid},DEFAULT,#{indentcomment},#{totalmoney},null,1,#{userId})
    </insert>
    
    <insert id="addDetails" parameterType="com.orderfood.pojo.OrderfoodIndentDetails">
        INSERT INTO `orderfood_indent_details` VALUES(NULL,#{dCuisineid},#{detailscount},#{dIndentid})
    </insert>
    
    <select id="getDetail" resultMap="ds">
      SELECT * FROM `orderfood_indent` i INNER JOIN `orderfood_indent_details` d
	          ON i.`indentId`=d.`d_indentId` INNER JOIN `orderfood_cuisine` c
	          ON d.`d_cuisineId`=c.`cuisineId` WHERE i.`i_tableId`=#{tableId} and i.`indentId`=(
			SELECT MAX(indentId) FROM `orderfood_indent` WHERE `i_tableId`=#{tableId} ORDER BY createDate DESC
	          )
    </select>

    <update id="updateDetails" parameterType="com.orderfood.pojo.OrderfoodIndentDetails">
        UPDATE `orderfood_indent_details` d SET d.`detailsCount`=#{detailscount} WHERE d.`detailsId`=#{detailsid}
    </update>

    <update id="updateDetailsByDetail" parameterType="com.orderfood.pojo.OrderfoodIndentDetails">
        UPDATE `orderfood_indent_details` d SET d.`detailsCount`=d.`detailsCount`+#{detailscount} WHERE d.`detailsId`=#{detailsid}
    </update>

    <delete id="deleteDetaiils" parameterType="com.orderfood.pojo.OrderfoodIndentDetails">
        DELETE FROM `orderfood_indent_details` WHERE detailsId=#{detailsid}
    </delete>

    <select id="getDetailByTableId" resultMap="tableDetails">
        SELECT * FROM `orderfood_indent` i INNER JOIN `orderfood_indent_details` d
	          ON i.`indentId`=d.`d_indentId` INNER JOIN `orderfood_cuisine` c
	          ON d.`d_cuisineId`=c.`cuisineId` INNER JOIN `orderfood_table` t
	          ON i.`i_tableId`=t.`tableId` INNER JOIN `orderfood_employee` e
	          ON i.`i_employeeId`=e.`employeeId`
	          WHERE i.`indentId`=#{indentId}
    </select>

    <select id="getDetailsIdByIndentCode" resultType="Integer">
        SELECT i.`indentId` FROM `orderfood_indent` i WHERE i.`indentCode`=#{indentCode}
    </select>

    <update id="updateStockByRecipeid" parameterType="com.orderfood.pojo.OrderfoodIndentDetails">
	      UPDATE `orderfood_stock` s,`orderfood_recipe` r
	        <if test="detailsid!=null and detailsid!=''">
                ,`orderfood_indent_details` d
                SET s.stockWeight=(s.stockWeight-r.recipeWeight*(#{detailscount}-d.`detailsCount`))
                WHERE s.`stockId`=r.`r_stockId` AND r.`r_cuisineId`=d.`d_cuisineId` AND r.`r_cuisineId`=#{dCuisineid} AND d.`detailsId`=#{detailsid}
            </if>
            <if test="detailsid==null or detailsid == ''">
                SET s.stockWeight=(s.stockWeight-r.recipeWeight*(#{detailscount}))
                WHERE s.`stockId`=r.`r_stockId` AND r.`r_cuisineId`=#{dCuisineid}
            </if>
    </update>

    <select id="ExistDetail" parameterType="com.orderfood.pojo.OrderfoodIndentDetails" resultType="String">
        SELECT detailsId FROM `orderfood_indent_details` WHERE d_cuisineId=#{dCuisineid} AND d_indentId=#{dIndentid}
    </select>

    <delete id="deleteIndent">
        DELETE FROM `orderfood_indent` WHERE indentId=#{indentid}
    </delete>

    <select id="getAllClassify" resultMap="classify">
        SELECT * FROM `orderfood_cuisine_classify` f INNER JOIN `orderfood_cuisine` c ON c.`c_classifyId`=f.`classifyId`
        <where>
            <if test="classifyId!=null and classifyId!=''">
                WHERE f.`classifyId`=#{classifyId}
            </if>
        </where>
    </select>

    <select id="getAllIndentsByPhone" resultMap="userDetails">
        SELECT * FROM `orderfood_indent` i
	      INNER JOIN `orderfood_indent_details` d ON i.`indentId`=d.`d_indentId`
	      INNER JOIN `orderfood_user` u ON i.`i_userId`=u.`user_id`
	      INNER JOIN `orderfood_cuisine` c ON d.`d_cuisineId`=c.`cuisineId`
	      WHERE u.`user_phone`=#{phone}
    </select>

    <select id="getUserIdByPhone" resultType="Integer">
        SELECT * FROM `orderfood_user` WHERE user_phone=#{phone}
    </select>
</mapper>