<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orderfood.mapper.StockMapper">
    <select id="getInfo" resultType="com.orderfood.pojo.OrderfoodStock">
      SELECT * FROM orderfood_stock WHERE stockName LIKE CONCAT('%',#{stockName},'%')
    </select>
    <select id="getId" resultType="com.orderfood.pojo.OrderfoodStock">
      SELECT * FROM orderfood_stock WHERE stockId=#{id}
    </select>
    <update id="UpdateStock" parameterType="com.orderfood.pojo.OrderfoodStock">
      UPDATE
  `orderdb`.`orderfood_stock`
SET
  `stockName` = #{stockname}
WHERE `stockId` = #{stockid} ;


    </update>
    <insert id="InsertStock">
        INSERT INTO `orderdb`.`orderfood_stock` (
  `stockId`,
  `stockName`,
  `stockWeight`,
  `stockUnit`
)
VALUES
  (
    NULL,
    #{stock.stockname},
    #{stock.stockweight},
    #{stock.stockunit}
  ) ;
    </insert>

    <select id="stockPage" resultType="com.orderfood.pojo.OrderfoodStock">
        SELECT * FROM  `orderdb`.`orderfood_stock`
        <trim prefix="where" prefixOverrides="and | or">
            <if test="stockName!=null and stockName!=''">
                and stockName LIKE CONCAT('%',#{stockName},'%')
            </if>
        </trim>
          LIMIT #{Start},#{Size}
    </select>
    <select id="stockCont" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM `orderdb`.`orderfood_stock`
        <trim prefix="where" prefixOverrides="and | or">
        <if test="stockName!=null and stockName!=''">
           and stockName LIKE CONCAT('%',#{stockName},'%')
        </if>
        </trim>
    </select>
</mapper>